/* Reset básico */
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Estrutura geral */
.sections {
    overflow: hidden;
    height: 100%
}

.right-section {
    height: 100%;
    width: 60%;
    float: left;
}

.left-section {
    height: 100%;
    width: 40%;
    float: left;
}

/* Sessão da esquerda */
.top-logo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.top-logo img {
    width: 100px;
}

/**/
.login{
    margin-right: 50px;
}
.login  a {
    color: #68abe9;
    text-decoration: none;
    font-weight: 600;
}

.login a:hover {
    text-decoration: underline;
  }



nav.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(233, 232, 232);
    border-radius: 15px;
    
}

nav.navegacao ul {
   
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex; 
    width: 100%;
    justify-content: center;
    gap: 30px;
}

nav.navegacao li {
    margin: 0 5px; 
}

nav.navegacao a {
    text-decoration: none;
    color: rgb(62, 61, 61);
    font-family: "Roboto", sans-serif;
    padding: 10px; 
}

nav.navegacao a:hover {
    font-weight: bold;
}

.text-button-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.text-button-left-section .text1 {
    text-align: start;
    margin: 0;
    font-size: 20px;
    padding: 0;
}

.text-button-left-section p {
    text-align: start;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.button-to-chatbot {
    text-decoration: none;
}

.button-left-section {
    background-color: rgb(233, 232, 232);
    margin-top: 50px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer; 
    text-align: center; 
}

.button-left-section p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: rgb(63, 63, 63);
}

.button-left-section:hover {
    background-color: rgb(187, 187, 187);
}

/* Sessão da direita */
.right-section {
    background-image: linear-gradient(to bottom, rgba(27, 3, 67, 0.88), rgba(40, 2, 144, 0.863), rgba(2, 59, 95, 0.869), rgba(0, 125, 129, 0.806));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-img-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 830px;
}

.text-img-right h2 {
    margin-left: 50px;
    text-align: start;
    font-size: 40px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.text-img-right img {
    width: 600px;
    border-radius: 60px;
}

/* Media Queries */

/* Estilos para desktop */
@media (max-width:1199px) and (min-width: 992px) {
    .text-button-left-section {
        margin-top: 150px;
    }
}

/* Estilos para tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .left-section {
        width: 50%;
    }
    .right-section {
        width: 50%;
    }
    .text-img-right h2 {
        font-size: 30px;
    }
    .text-img-right img {
        width: 500px;
        border-radius: 50px;
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 766px) {
    .left-section {
        width: 100%;
        margin-bottom: 30px;
    }
    .right-section {
        width: 100%;
    }
    .text-button-left-section {
        margin-top: 100px;
    }
    .text-img-right h2 {
        font-size: 24px;
    }
    .text-img-right img {
        width: 90%;
        border-radius: 30px;
    }
    html{
        background-image:linear-gradient(to bottom, rgba(27, 3, 67, 0.88), rgba(40, 2, 144, 0.863), rgba(2, 59, 95, 0.869), rgba(0, 125, 129, 0.806));
    }
    .right-section{
        background-image:none
    }
}
