* {
    margin: 0;
    font-family:"Poppins", sans-serif; ;
}

.top-logo {
    width: 120px;
}
  
.top-logo img {
    width: 100px;
}

nav.navegacao {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 232, 232);
    border-radius: 15px;
}
  
nav.navegacao a {
    text-decoration: none;
    color: rgb(62, 61, 61);
    margin: 9px;
    font-family: "Roboto", sans-serif;
}
  
nav.navegacao a:hover {
    font-weight: bold;
}

.text-img-parcerias{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-bottom: 0;
}

.text-parcerias{
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
    font-size: 20px;
  }

.text2-parcerias{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 50px
}

.div-img-parcerias{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-parcerias{
    height: 200px;
    border-radius: 30px;
}
  
/* Media Queries */

/* Estilos para desktop */
@media (max-width: 1199px) and (min-width: 992px) {
    .top-logo {
        width: 100px;
    }

    .top-logo img {
        width: 80px;
    }
}

/* Estilos para tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .text-img-parcerias {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .text-parcerias {
        font-size: 16px;
        margin: 10px 0;
    }

    .text2-parcerias {
        font-size: 16px;
        margin: 20px;
    }

    .div-img-parcerias {
        margin: 20px;
    }

    .img-parcerias {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 15px;
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 766px) {
    .top-logo {
        width: 80px;
    }

    .top-logo img {
        width: 60px;
    }

    nav.navegacao {
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    nav.navegacao a {
        margin: 0 10px;
        padding: 8px 12px;
    }

    .text-img-parcerias {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .text-parcerias {
        font-size: 16px;
        margin: 10px 0;
        text-align: justify;
    }

    .text2-parcerias {
        font-size: 16px;
        margin: 20px 0;
        text-align: justify;
    }

    .div-img-parcerias {
        margin: 20px;
    }

    .img-parcerias {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 15px;
    }
}
