@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
}
/*Home*/
.sections{
  overflow: hidden;
}
.right-section {
  width: 60%;
  float: left;
}
.left-section{
width: 40%;
float: left;
}
/*Sessão da esquerda*/
.top-logo{
  width: 120px;
}
.top-logo img{
  width: 100px;
}
.navegacao{
  display: flex;
  flex-direction: row;
  background-color: rgb(233, 232, 232);
  border-radius:15px ;
  
}
.navegacao a {
  text-decoration: none;
  color:rgb(62, 61, 61);
  margin: 9px;
  font-family: "Roboto", sans-serif;
}
.navegacao a:hover {
  font-weight: bold;
}

.text-button-left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  
}
.text-button-left-section .text1 {
  text-align: start;
  margin: 0;
  font-size: 20px;
  padding: 0;
}
.text-button-left-section p{
  text-align: start;
  margin: 0;
  padding: 0;
  font-size: 30px;
  
}
.button-to-chatbot{
  text-decoration: none;
}
.button-left-section{
  background-color: rgb(233, 232, 232) ;
  margin-top: 50px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.button-left-section p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: rgb(63, 63, 63);
}
.button-left-section:hover{
 background-color: rgb(187, 187, 187);
 
}
/*Sessão da direita*/
.right-section{
  background-image: linear-gradient(to bottom, rgba(27, 3, 67, 0.88)  , rgba(40, 2, 144, 0.863),rgba(2, 59, 95, 0.869)  , rgba(0, 125, 129, 0.806) );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-img-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 830px;
}
.text-img-right h2 {
  margin-left: 50px;
  text-align: start;
  font-size: 40px;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.text-img-right img {
  width: 600px;
  border-radius: 60px;
  
}

/*Sobre nós*/
.top-page{
  display: flex;
  flex-direction: column;
}
.top-logo-tipo2{
  width: 120px;
}
.top-logo-tipo2 img{
  width: 100px;
}
.navegacao-tipo2{
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(233, 232, 232);
  border-radius:15px ;
  
}
.navegacao-tipo2 a {
  text-decoration: none;
  color:rgb(62, 61, 61);
  margin: 9px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  padding: 2px;
  
}
.navegacao-tipo2 a:hover {
  font-weight: bold;
}


.imgs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.text-img-sobre{
  margin: 40px;
}
.img-sobre{
  width: 300px;
}
.text-sobre p{
  margin: 5px;
  font-family: "Roboto", sans-serif;
}

.git-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(209, 209, 209);
  padding: 2px;
  border-radius: 30px;
}
.git-button:hover {
  background-color: rgb(164, 163, 163);
}
.git-button img{
  width: 40px;
}
.link-sobre{
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  
}
.git-button p{
  margin: 2px;
  color: rgb(37, 38, 38);
}
.centralizar-link-repositorio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;

}
.div-link-repositorio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: rgb(209, 209, 209);
  padding: 2px;
  border-radius: 30px;
}
.div-link-repositorio img {
  width: 50px;
}
.link-repositorio {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: rgb(37, 38, 38);
}
.div-link-repositorio:hover {
  background-color: rgb(164, 163, 163);
}





/*Ajuda*/
.ajuda-text-img{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.img-ajuda{
  margin-top: 50px;
  margin-left: 30px;
  width: 60%;
}
.img-ajuda img {
  width: 700px;
  border-radius: 50px;
}
.text-ajuda{
  width: 700px;
  font-size: 23px;
}
.text-ajuda p {
  font-family: "Roboto", sans-serif;
}

/*Chatbot*/
.top-page-chatbot{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-page-chatbot .top-logo img{
  width: 80px;
}

.interaction{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.msg-bot{
  margin-top: 50px;
  background-color: rgb(218, 218, 218) ;
  padding: 20px;
  border-radius: 50px;
  width: 400px;
  font-size: 20px;
  margin-bottom: 350px;
}
.input-user{
  width: 500px;
  padding: 10px;
  border-radius: 30px;
}

.text-footer{
  margin-top: 50px;
  margin-bottom: 0px;
  border-top: 1px solid grey;
  text-align: center;
  background-color: rgb(218, 218, 218) ;
  padding: 30px;
}
/*Parcerias*/

.text-img-parcerias{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-bottom: 0;
}
.text-parcerias{
  font-family: "Roboto", sans-serif;
  margin-left: 30px;
  font-size: 20px;
}
.text2-parcerias{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 50px
}
.div-img-parcerias{
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-parcerias{
  height: 200px;
  border-radius: 30px;
}

/*Login*/

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif; ;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: rgb(15, 97, 192);
/*url*/
}

.wrapper{
  width: 420px;
  background:rgba(0, 0, 0, 0.806) ;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  
}

.input-box input{
width: 100%;
height: 100%;
background:transparent;
border: none;
outline: none;
border: 2px solid rgba(255, 255, 255, .2);
border-radius: 40px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
color: #fff;   
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .lembrar-senha{
  display: flex;
  justify-content: space-between;
  font-size: 15.5px;
  margin:  -15px 0 15px;
  
}

.lembrar-senha label input{
  accent-color: #fff;
  margin-right: 3px;
 
}

.lembrar-senha{
  color: #fff;
  text-decoration: none;
}

.lembrar-senha a:hover{
  text-decoration: none;
}

.wrapper .btn{
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .cadastrar-link{
  font-size: 15.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}

.cadastrar-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.cadastrar-link p a:hover{
  text-decoration: underline;

}